{% extends 'base.html.twig' %}

{% block title %}Главный экран{% endblock %}


{% block body %}

    {% include 'TimerApp/Chunk/sidebar.html.twig' %}

    <div class="container-home">
        <header>
            <h1>Главная страница <span class="info-icon">💭</span></h1>
        </header>

        <div class="stats-grid">
            <div class="stat-card">
                <h3>Место в рейтинге</h3>
                <span>{{ stats.position ?? '–' }}</span>
            </div>
            <div class="stat-card">
                <h3>Помо за неделю</h3>
                <span>Время {{ stats.periodLabel ?? '–' }}</span><br>
                <span>Количество {{ stats.count ?? '–' }}</span>
            </div>
            <div class="stat-card">
                <h3>Привычки / Таски (в днях)</h3>
                <span>{{ stats.days_count ?? '–' }}</span>
            </div>
        </div>
    </div>




    <script type="text/babel" src="{{ asset('react/App.js') }}"></script>
{% endblock %}